body {
  font-family: "Roboto";
  margin: 0px;
}

.header, .hero {
  background-color: #1F2937;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 0px 350px;
  align-items: center;
}

.title {
  font-size: 24px;
  font-weight: 900;
  color: #F9FAF8;
}

ul {
  list-style-type: none;
  display: flex;
  gap: 20px;
}

a {
  text-decoration: none;
}

.headerlinks, .subtext {
  font-size: 18px;
  color: #E5E7EB;
}

.maintext {
  font-size: 48px;
  font-weight: 900;
  color: #F9FAF8;
}

.hero {
  display: flex;
  padding: 120px 350px;
  gap: 10px;
}

#main {
  display: flex;
  flex-direction: column;
  margin-right: 100px;
}

.signup {
  width: 100px;
  padding: 8px 18px;
  background-color: #3882F6;
  border: none;
  color: white;
  font-weight: bold;
  margin-top: 30px;
  font-size: 16px;
  border-radius: 5px;
}

.infotext {
  font-size: 36px;
  font-weight: 900;
  color: #1F2937;
}

.pic img {
  border: blue 5px solid;
  border-radius: 20px;
  height: 220px;
  width: 220px;
}

.pic {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.picrow {
  display: flex;
  gap: 35px;
}

.information {
  padding: 50px 400px 100px 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.quote {
  display: flex;
  flex-direction: column;
  background-color: #E5E7EB;
  padding: 120px 350px;
  align-items: flex-end;
}

.quotetext {
  font-size: 36px;
  font-style: italic;
  font-weight: 300;
  color: #1F2937;
}

.quotename {
  font-weight: bolder;
  font-size: 25px;
}

.signuptoast {
  margin: 75px 350px;
  display: flex;
  justify-content: space-between;
  padding: 55px 150px;
  background-color: #3882F6;
  border-radius: 10px;
  align-items: center;
}

.toasttext {
  display: flex;
  flex-direction: column;
}

.toastmaintext {
  color: #F9FAF8;
  font-weight: 600;
  font-size: 25px;
}

.toastsubtext {
  color: #E5E7EB;
  font-size: 17px;
}

.signuptoast .signup {
  border: #F9FAF8 3px solid;
  width: 150px;
  padding: 15px 0px;
}

.footer {
  background-color: #1F2937;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px;
}

.footertext {
  color: #F9FAF8;
  font-size: 20px;
}
